<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head.ejs')%>
<body >
    <%- include('./partials/header.ejs')%>
    <div class="cuadro-form tamaño-logo">
        <img src="/images/login/logo.png" alt="logo" >
        <h3>Bienvenido :)</h3>
        <form action="/user/login" method="post">
            <div>
                <label for="usu">Email:</label>
            </div>      
            <div class="email" >
                <input type="email" id="usu" name="email" class="forma-tamaño" placeholder="Ingrese aquí su email" required>
                <% if (locals.errors && errors.email) { %>
                    <small class="text-danger">*<%= errors.email.msg %>*</small>
                <% } %>
            </div>
            <div >
                <label for="clave">Contraseña:</label>
            </div>    
            <div class="clave">
                <input type="password" id="clave" name="password" class="forma-tamaño" placeholder="Ingrese aquí su contraseña" required>
                <% if (locals.errors && errors.custom) { %>
                    <small class="text-danger">*<%= errors.custom.msg %>*</small>
                <% } %>
            </div>
            <div class="remember">
                <div class="recorda"><input type="checkbox" name="remember" id="check"></div>
                <div class="recorda2"><label for="check">Recordar</label> </div>
            </div>
            <div id="boton-logueo">
                <button>Iniciar session</button>
            </div>
            <section class="orientar-boton">
               <div><button class="button-google forma-tamaño" >GOOGLE</button></div>
                <div><button class="button-face forma-tamaño">FACEBOOK</button></div> 
            </section>
            <div ><a href="">¿Olvidaste tu contraseña?</a> </div>
        </form>
        
    </div>
    <div class="cuadro-form orientar-p">
        <p>¿No tienes cuenta?</p>
        <a href="register" class="registrate"></a><button>Registrate</button></a>
    </div>
    <%- include('./partials/footer.ejs')%>
    <%- include('./partials/scripts.ejs')%>
</body>
</html>