<!DOCTYPE html>
<html lang="es">
<head>
    <title>Productos</title>
    <%-include ('./partials/head') %>  
</head>
<body>
    <%- include('./partials/header')  %> 
    <div class="Titulo">
    <h1>Nuestros productos</h1>
    </div>
    <div class="background">
    </div>
    <% products.forEach(shoes => { %>
        <% shoes.images.forEach(image => { %>
        <div class="container__card">
            <div class="card__father">
                <div class="card">
                    <div class="card_front">
                        <img src="/images/products/<%- image.image%>" alt="" width="100%">
                        <div class="bg"></div>
                            <div class="body_card_front">
                                <h1><%- shoes.name%> </h1>
                            </div>
                    </div>
                    <div class="card_back">
                        <div class="body_card_back">
                            <h1><%-shoes.name %> </h1>
                            <a href="/products/detail/<%-shoes.id %> "><input type="button" value="Ver detalle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %> 
    <% }) %>
    <div class="container__card">
        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(images/products/deportivas/zapatillas-nike-2020-.jpg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Deportivas</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Deportivo</h1>
                        <p>Las mejores zapatillas con suela ergonomica</p>
                       <a href=""> <input type="button" value="Ver deportivas"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(images/products/elegante/25-azul.jpg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Elegante</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Elegante</h1>
                        <p>Las mejores zapatillas con suela ergonomica</p>
                        <a href=""><input type="button" value="Ver elegantes"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(images/products/casual/ZapasAllStar9.jpg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Ver casual</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Casual</h1>
                        <p>Las mejores zapatillas con suela ergonomica</p>
                       <a href=""><input type="button" value="Read more..."></a> 
                    </div>
                </div>
            </div>
        </div>

        <div class="card__father">
            <div class="card">
                <div class="card__front" style="background-image: url(images/products/botas/BotasMarrones6.jpg);">
                    <div class="bg"></div>
                    <div class="body__card_front">
                        <h1>Botas</h1>
                    </div>
                </div>
                <div class="card__back">
                    <div class="body__card_back">
                        <h1>Botas</h1>
                        <p>Las mejores zapatillas con suela ergonomica</p>
                        <a href="products/category/4"><input type="button" hre value="Ver botas" ></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

   
</body>
</html>