<!DOCTYPE html>
<html lang="es">
<%- include('../partials/adminHead')  %> 
<body>
    <%- include ('../partials/adminHeader') %> 
    <h2>Categoria: <%- categorySelection.subgategory %>  </h2>
    <div class="categories-product">
        <% categorySelection.forEach(product => { %>
         <div class="products">
            <p>Nombre: <%- product.name%> </p>
            <img class="product-image" src="/images/products/<%- product.subcategory%>/<%- product.image%>" alt="<%- product.id%> ">
            <p>Descripcion: <%- product.description%> </p>
            <p>Talle: <%- product.size%> </p>
            <p>Color: <%- product.color%> </p>
            <p>Precio: <%- product.price%> </p>
            <form action="/admin/products/edit/<%- product.id%> " method="get">
                <button type="submit">Editar <i class="fas fa-edit"></i></button>
            </form>
        </div>
        <% }) %>
    </div>
</body>
</html>