<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <%- include('../partials/adminHeader')%> 
    
    <table>
        <tr>
            <td>
                <form class="categories-product" action="/admin/products/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="product" value="<%= locals.old ? old.name : product.name %>">
                    </div>
                    <div class="products">
                       <p>Talle:</p>
                        <input type="text" name="size" id="" value="<%- product.size %>">
                    </div>
                    <div>
                        <label for="category">Categoria</label>
                        <select name="category" id="" >
                            <% categories.forEach(categorias => { %>
                                <option value="<%- categorias.id %> "> <%= locals.old && old.product.categorias == categorias.id ? "selected" : "" %> <%- categorias.name %> </option>
                               <% }) %>
                        <% if (locals.errors && errors.category) { %>
                            <small class="text-danger"><%= errors.category.msg %> </small>
                        <% } %>        
                        </select>
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="price" id="perPrice" value="<%= locals.old ? old.price : product.price %>">
                    </div>
                    <div>
                        <label for="trade_mark">Marca</label>
                        <select name="trade_mark" id="">
                            <% marks.forEach(marca => { %>
                                <option value="<%= marca.id %>" <%- locals.old && old.trade_mark == mark.id ? "selected" : marca.id == product.trade_mark ? "selected" : "" %> ><%- marca.mark%> </option>                             
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="text" name="description" id="description" value="<%= locals.old ? old.description : product.description %>">
                    </div>
                    <div class="products">
                      <p>Color:</p>
                            <% colors.forEach(color => { %>
                                <label for="colors"><%- color.name %> </label>
                                <input name="colors" type="checkbox" value="<%- color.id %>"
                                <%product.colors.forEach(colorId => { %>
                                <% if (colorId.id == +color.id) { %>
                                    checked 
                                <% } %> 
                                <% }) %>> 
                                <% }) %>
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" multiple value="<%= locals.old ? old.product.image : product.image %> selected">
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Editar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>
                <form action="/admin/products/category/<%- product.id%>?_method=delete" method="post">
                    <button type="submit">Eliminar <i class="far fa-trash-alt"></i></button>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr class="image-rightSide">
                                <% product.images.forEach(imagenes => { %>
                                   <img class="product-image" src="/images/products/<%- imagenes.image %> " alt="ID:<%= product.id%> ">
                                <% }) %>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../public/javascript/productCreate.js"></script>



    
    <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script>
</body>
</html>