<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('../partials/adminHeader')%> 
    <table>
        <tr>
            <td>
                <form class="categories-product" action="/admin/products" autocomplete="off" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="product">
                    </div>
                    <div class="products">
                        <p>Talle: </p>
                        <% sizes.forEach(talles => { %>
                            <label for="category"><%- talles.num%> </label>
                            <input  type="checkbox" value="<%- talles.num %>">
                            <% }) %>
                    </div>
                    <div class="products">
                        <p>Categoria: </p>
                        <select name="category" id="">
                            <% categories.forEach(category => { %>
                             <option value="<%- category.id %> "> <%- category.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="price" id="perPrice">
                    </div>
                    <div>
                        <label for="trade_mark">Marca</label>
                        <select name="trade_mark" id="">
                            <% marks.forEach(marca => { %>
                                <option value="<%- marca.id %> "><%- marca.mark%> </option>                             
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="text" name="description" id="description">
                    </div>
                    <div class="products">
                        <p>Color: </p>
                        <% colors.forEach(color => { %>
                            <label for="color"><%- color.name %> </label>
                            <input  type="checkbox" value="<%- color.name %>">
                            <% }) %>
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" multiple>
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Enviar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="/javascript/productCreate.js"></script>


    <script>
        function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
    </script>

    <!-- <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script> -->
</body>
</html>