<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/productCreate.css">
    <link rel="stylesheet" href="../public/css/productTable.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<title>Editar Producto</title>

<body>
    

    <!-- navbar -->
        <div class="toggle" onclick="toggleMenu()"></div>
        <div class="topnav" id="myTopnav">
        <a href="#home" class="active">Inicio</a>
        <a href="#news">Perfil</a>
        <a href="#contact">Configuraciones</a>
        <a href="#about">Salir</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bar"></i>
        </a>
      </div>
      <!-- fin navbar -->




    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-home"></i></i></span>
                    <span class="title" >Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="title">Configuraciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Salir</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Editor creador de productos -->
    <table>
        <tr>
            <td>
                <form action="/admin/product/edit/<%= edit.id%>" autocomplete="off" onsubmit="onFormSubmit()">
                
                    <div>
                        <label for="productCode">Código</label>
                        <input type="text" name="productCode" id="productCode" value="<%= edit.id %>">
                        <small class="text-danger">Ingresa un codigo</small>
                    </div>
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="product" id="product" value="<%= edit.name %> ">
                        <small class="text-danger">Ingresa un nombre</small>
                    </div>
                    <div>
                        <label for="qty">Cantidad</label>
                        <input type="number" name="qty" id="qty" value="<%= edit.amount %> ">
                        <small class="text-danger">Ingresa una cantidad</small>
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="perPrice" id="perPrice" value="<%= edit.price %> ">
                        <small class="text-danger">Ingresa un precio</small>
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Editar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../public/javascript/productCreate.js"></script>



    
    <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script>
</body>
</html>