<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <%- include('../partials/adminHeader')%> 
    
    <table>
        <tr>
            <td>
                <form action="/admin/products/<%= product.id%>?_method=PUT" method="POST" autocomplete="off" >
                
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="product" value="<%= locals.old ? old.name : product.name %>">
                    </div>
                    <div>
                        <label for="size">Talle</label>
                        <select name="size" id="">
                            <% sizes.forEach(talles => { %>
                                <option value="<%-talles.id%> " <%= locals.old && old.talles == talles.id ? "selected" : ""  %>><%- talles.num %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="category">Categoria</label>
                        <select name="category" id="" >
                            <% categories.forEach(category => { %>
                                <option value="<%- category.id %>" <%= locals.old && old.category == category.id ? "selected" : "" %> ><%- category.name %> </option>
                            <% }) %>
                            </select>
                            <% if (locals.errors && errors.category) { %>
                                <small class="text-danger"><%= errors.category.msg %> </small>
                            <% } %>
        
                        </select>

                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="number" name="price" id="perPrice" value="<%= locals.old ? old.price : product.price %>">
                    </div>
                    <div>
                        <label for="trade_mark">Marca</label>
                        <select name="trade_mark" id="">
                            <% marks.forEach(marca => { %>
                                <option value="<%= locals.old ? old.marca : product.marca %>"><%- marca.mark%> </option>                             
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="text" name="description" id="description" value="<%= locals.old ? old.description : product.description %>">
                    </div>
                    <div>
                        <label for="discount">Color</label>
                        <select name="color" id="">
                            <% colors.forEach(color => { %>
                             <option value="<%- color.id%> "><%- color.name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" multiple>
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Editar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>
                <form action="/admin/products/category/<%- product.id%>?_method=delete" method="post">
                    <button type="submit">Eliminar <i class="far fa-trash-alt"></i></button>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr class="image-rightSide">
                               <img src="/images/products/<%- product.subcategory %>/<%-product.image%>  " alt="">
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../public/javascript/productCreate.js"></script>



    
    <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script>
</body>
</html>