<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/adminHead')  %> 
<body>
    <!-- navbar -->
    <%- include('../partials/adminHeader')%> 
    <!-- fin navbar -->
    <!-- <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-home"></i></i></span>
                    <span class="title" >Inicio</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-user"></i></span>
                    <span class="title">Perfil</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-cog"></i></span>
                    <span class="title">Configuraciones</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Salir</span>
                </a>
            </li>
        </ul>
    </div> -->

    <!-- Editor creador de productos -->
    <table>
        <tr>
            <td>
                <form action="/admin/products/<%= product.id%>?_method=PUT" method="POST" autocomplete="off" >
                
                    <div>
                        <label for="product">Nombre</label>
                        <input type="text" name="name" id="product" value="<%= product.name  %> ">
                    </div>
                    <div>
                        <label for="size">Talle</label>
                        <input type="text" name="size" id="size" value="<%= product.size  %> ">
                    </div>
                    <div>
                        <label for="perPrice">Precio</label>
                        <input type="text" name="price" id="perPrice" value="<%= product.price  %> ">
                    </div>
                    <div>
                        <label for="description">Descripcion</label>
                        <input type="text" name="description" id="description" value="<%= product.description  %> ">
                    </div>
                    <div>
                        <label for="discount">Color</label>
                        <input type="text" name="discount" id="discount" value="<%= product.color  %> ">
                    </div>
                    <div>
                        <label for="image">Imagen</label>
                        <input type="file" name="image" id="image" multiple value="<%= product.image  %> ">
                    </div>

                    <div class="form_action--button">
                        <input type="submit" value="Editar">
                        <input type="reset" value="Reiniciar">
                    </div>
                </form>
                <form action="/admin/products/category/<%- product.id%>?_method=delete" method="post">
                    <button type="submit">Eliminar <i class="far fa-trash-alt"></i></button>
                </form>

                <td>
                    <table class="list" id="storeList">
                        <thead>
                            <tr class="image-rightSide">
                               <img src="/images/products/<%- product.subcategory %>/<%-product.image%>  " alt="">
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </td>
            </td>
        </tr>
    </table>
    <script type="text/javascript" src="../public/javascript/productCreate.js"></script>



    
    <script type="text/javascript">
        function toggleMenu(){
            let navigation = document.querySelector('.navigation')
            let toggle = document.querySelector('.toggle')
            navigation.classList.toggle('active')
            toggle.classList.toggle('active')
        }
    </script>
</body>
</html>